

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ lifespace }} Activities
            <small>This is where you organize your lifespace</small>
        </h1>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">

                <!-- Add New Activity -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Front view -->
                        <div id="overview_container" class="buddy-content buddy-front-container">

                            <div class="row">
                                <!-- Show Add Company -->
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                        <i class="fa fa-address-card-o"></i>
                                    </div>
                                        <select class="adress-selection select2 form-control">
                                            <option value="test">test</option>
                                        </select>
                                    </div>

                                    <button class="btn btn-flat btn-default btn-block"><i class="fa fa-address-card-o"></i> Kontakt verwenden</button>
                                    <button class="btn btn-flat btn-default btn-block"><i class="fa fa-map-marker"></i> Ortschaft verwenden</button>
                                </div>

                                <!-- Activities -->
                                <div class="col-md-6">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tr><td>Swissdec</td></tr>
                                            <tr><td>Account Manager</td></tr>
                                            <tr><td>Apollo</td></tr>
                                            <tr><td>Tickets</td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-plus-circle"></i> Hinzufügen</button>
                        </div>
                    </div>
                </div>

                <!-- Function Adding -->
                <div id="function_addmode" class="row buddy-row function_navigation">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>{% trans 'Neuerfassung' %}</h4>
                            <button class="btn btn-warning btn-block btn-flat"><i class="fa fa-times"></i> {% trans 'Abbrechen' %}</button>
                            <button class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> {% trans 'Speichern' %}</button>
                        </div>
                    </div>
                </div>

                <!-- Function Editing -->
                <div id="function_editmode" class="row buddy-row function_navigation">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>{% trans 'Bearbeitungs Modus' %}</h4>
                            <button class="btn btn-warning btn-block btn-flat"><i class="fa fa-times"></i> {% trans 'Abbrechen' %}</button>
                            <button class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> {% trans 'Speichern' %}</button>
                            <br><br>
                            <button class="btn btn-danger btn-block btn-flat"><i class="fa fa-trash"></i> {% trans 'Löschen' %}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
