

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Action Plans
            <small>This is the template engine for you processes.</small>
        </h1>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#"><i class="fa fa-table fa-2x"></i></a></li> <!-- Formulare -->
                            <li role="presentation"><a href="#"><i class="fa fa-file-text-o fa-2x"></i></a></li> <!-- Dokumente -->
                            <li role="presentation"><a href="#"><i class="fa fa-bolt fa-2x"></i></a></li> <!-- Action (Prozess Ablauf etc) -->
                        </ul>
                    </div>
                </div>
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Front view -->
                        <div id="overview_container" class="buddy-content buddy-front-container" style="border-top: none;">
                            CONTENT
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
