
<!-- Include Google Map API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd19VpKQZwKSFxlvyVfXgNKchJW_LTks0"></script>

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% trans 'Kontakte' %}
            <small>{% trans 'Verwalte alle deine Kontakte und Business Partner.' %}</small>
        </h1>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Front view -->
                        <div id="view_list_container" class="buddy-content buddy-front-container">
                            <div class="buddy-box">
                                <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                    <tbody>
                                        <tr>
                                            <th style="width: 34%;" colspan="2">{% trans 'Person / Firma' %}</th>
                                            <th style="width: 33%;">{% trans 'Kontakt' %}</th>
                                            <th style="width: 33%;">{% trans 'Adresse' %}</th>
                                        </tr>
                                        <tr v-for="contact in contacts" v-bind:data-id="contact.id" v-on:click="showDetail($event);">
                                            <td><img class="direct-chat-img" v-bind:src="controller.home + contact.image_source" alt="Severin Holm"></td>
                                            <td>[[ contact.title ]]<br>[[ contact.subtitle ]]</td>
                                            <td><i class="fa fa-envelope-o"></i> <a href="#">[[ contact.contact_email ]]</a><br><i class="fa fa-phone"></i> <a href="#">[[ contact.contact_phone ]]</a></td>
                                            <td><a href="#">[[ contact.address_line_1 ]]<br>[[ contact.address_line_2 ]]</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Detail view -->
                        <div id="view_detail_navigation" class="row" style="display: none;">
                            <div class="col-xs-12">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#view_profile_container" data-toggle="tab"><i class="fa fa-user-o fa-2x"></i></a></li> <!-- Persönlich -->
                                    <li role="presentation"><a href="#view_actionplan_container" data-toggle="tab"><i class="fa fa-puzzle-piece fa-2x"></i></a></li> <!-- Action Plan Templates -->
                                    <li role="presentation"><a href="#view_timeline_container" data-toggle="tab"><i class="fa fa-history fa-2x"></i></a></li> <!-- Timeline -->
                                    <li role="presentation"><a href="#view_correspondence_container" data-toggle="tab"><i class="fa fa-envelope-o fa-2x"></i></a></li> <!-- Correspondence -->
                                </ul>
                            </div>
                        </div>
                        <div id="view_detail_container" class="tab-content" style="display: none;">
                            <!-- Detail Panel -->
                            <div id="view_profile_container" class="buddy-content tab-pane active" style="border-top: none;">
                                <div class="row buddy-row">
                                    <div class="col-md-4">
                                        <div class="row buddy-row">
                                            <div class="col-xs-12">
                                                <h3 class="text-blue"><i class="fa fa-image"></i> {% trans 'Bild' %}</h3>
                                                <span class="buddy-mode-display">
                                                    <img v-bind:src="controller.home + contact.image_source" class="img-bordered-sm" style="width: 100%" alt="John Doe">
                                                </span>
                                                <span class="buddy-mode-edit">
                                                    <img id="profile_img" v-bind:src="controller.home + contact.image_source" class="img-bordered-sm" style="width: 100%; opacity: 0.2;" alt="Profile Image">
                                                    <button class="btn btn-primary btn-flat" v-on:click="uploadImage();" style="position: absolute; top: 50%; left: 50%; margin-left: -65px;"><i class="fa fa-camera"></i> {% trans 'Bild hochladen' %}</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row buddy-row">
                                            <div class="col-xs-12">
                                                <h3 class="text-blue"><i class="fa fa-address-card-o"></i> {% trans 'Kontakt' %}</h3>
                                                <div class="buddy-box">
                                                    <!-- Display Mode -->
                                                    <table class="table table-bordered buddy-no-bottom table-hover buddy-hover buddy-mode-display">
                                                        <tbody>
                                                            <tr v-for="(info, index) in contact.contact_info" v-bind:data-id="index">
                                                                <th style="width: 30%" class="buddy-mode-display">[[ info.info_type ]]</th>
                                                                <td style="width: 70%" class="buddy-mode-display">[[ info.info_value ]]</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- -Edit Mode -->
                                                    <table class="table table-bordered buddy-no-bottom table-hover buddy-hover buddy-mode-edit">
                                                        <tbody>
                                                        <tr v-for="(info, index) in contact.contact_info" style="display: table-row;" v-bind:data-id="index">
                                                            <td style="width: 100%;">
                                                                <select v-model="info.info_type" class="form-control" style="display: inline-block;">
                                                                    <option v-for="(text, value) in contact.contact_info_types" v-bind:value="value">[[ text ]]</option>
                                                                </select>
                                                                <input type="text" v-model="info.info_value" class="form-control" style="margin-top: 5px; display: inline-block;">
                                                            </td>
                                                            <td><button v-on:click="removeContactInfo($event);" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">
                                                                <button v-on:click="addContactInfo($event);" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> {% trans 'Hinzufügen' %}</button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row buddy-row">
                                            <div class="col-xs-12">
                                                <h3 class="text-blue"><i class="fa fa-bullhorn"></i> {% trans 'Soziale Medien' %}</h3>
                                                <span class="buddy-mode-display">
                                                    <span v-for="media in contact.social_media" v-html="media.button_html"></span>
                                                </span>
                                                <span class="buddy-mode-edit">
                                                    <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                                        <tbody>
                                                            <tr v-for="(media, index) in contact.social_media" class="buddy-mode-edit" style="display: table-row;" v-bind:data-id="index">
                                                                <td style="width: 100%;">
                                                                    <select v-model="media.calc_platform" class="form-control buddy-mode-edit" style="display: inline-block;">
                                                                        <option v-for="(text, value) in contact.social_media_platform" v-bind:value="value">[[ text ]]</option>
                                                                    </select>
                                                                    <input type="text" v-model="media.calc_user" class="form-control buddy-mode-edit" style="margin-top: 5px; display: inline-block;">
                                                                </td>
                                                                <td><button v-on:click="removeSocialMedia($event);" class="btn btn-danger btn-flat btn-sm"><i class="fa fa-trash"></i></button></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <button v-on:click="addSocialMedia();" class="btn btn-primary btn-block btn-flat"><i class="fa fa-plus-circle"></i> {% trans 'Hinzufügen' %}</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="row buddy-row">
                                            <!-- Person -->
                                            <div class="col-xs-12 contact-type contact-type-person">
                                                <h3 class="text-blue"><i class="fa fa-user"></i> {% trans 'Personalien' %}</h3>
                                                <div class="buddy-box">
                                                    <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                                        <tbody>
                                                        <tr>
                                                            <th style="width: 20%;">{% trans 'Vorname' %}</th>
                                                            <td style="width: 30%;"><span class="buddy-mode-display">[[ contact.person_firstname ]]</span><input v-model="contact.person_firstname" type="text" class="form-control buddy-mode-edit"></td>
                                                            <th style="width: 20%;">{% trans 'Nachname' %}</th>
                                                            <td style="width: 30%;"><span class="buddy-mode-display">[[ contact.person_familyname ]]</span><input v-model="contact.person_familyname" type="text" class="form-control buddy-mode-edit"></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="width: 20%;">{% trans 'Geschlecht' %}</th>
                                                            <td style="width: 30%;"><span class="buddy-mode-display">[[ contact.person_gender ]]</span><select v-model="contact.person_gender" class="form-control buddy-mode-edit"><option value="male">Male</option><option value="female">Female</option></select></td>
                                                            <th style="width: 20%;">{% trans 'Gruppe' %}</th>
                                                            <td style="width: 30%;"><span class="buddy-mode-display">[[ contact.person_group ]]</span><input v-model="contact.person_group" type="text" class="form-control buddy-mode-edit"></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="width: 20%;">{% trans 'Geburtsdatum' %}</th>
                                                            <td style="width: 30%;"><span class="buddy-mode-display">[[ contact.person_dateofbirth ]]</span><input v-model="contact.person_dateofbirth" type='text' class="form-control buddy-mode-edit" data-provide="datepicker"/></td>
                                                            <th style="width: 20%;">{% trans 'Heimatort' %}</th>
                                                            <td style="width: 30%;"><span class="buddy-mode-display">[[ contact.person_hometown ]]</span><input v-model="contact.person_hometown" type="text" class="form-control buddy-mode-edit"></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="width: 20%;">{% trans 'Kenne ich von...' %}</th>
                                                            <td style="width: 80%;" colspan="3">
                                                                <span class="buddy-mode-display">
                                                                    [[ contact.person_knownfrom ]]
                                                                </span>
                                                                <textarea v-model="contact.person_knownfrom" rows="3" class="form-control buddy-mode-edit"></textarea>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <!-- Company -->
                                            <div class="col-xs-12 contact-type contact-type-company">
                                                <h3 class="text-blue"><i class="fa fa-building-o"></i> {% trans 'Firmendaten' %}</h3>
                                                <div class="buddy-box">
                                                    <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                                        <tbody>
                                                        <tr>
                                                            <th style="width: 20%;">{% trans 'Name' %}</th>
                                                            <td style="width: 80%;" colspan="3"><span class="buddy-mode-display">[[ contact.company_name ]]</span><input v-model="contact.company_name" type="text" class="form-control buddy-mode-edit"></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="width: 20%;">{% trans 'Branche' %}</th>
                                                            <td style="width: 80%;" colspan="3"><span class="buddy-mode-display">[[ contact.company_branche ]]</span><input v-model="contact.company_branche" type="text" class="form-control buddy-mode-edit"></td>
                                                        </tr>
                                                        <tr>
                                                            <th style="width: 20%;">{% trans 'Geschäftsfeld' %}</th>
                                                            <td style="width: 80%;" colspan="3">
                                                                <span class="buddy-mode-display">
                                                                    [[ contact.company_description ]]
                                                                </span>
                                                                <textarea v-model="contact.company_description" rows="3" class="form-control buddy-mode-edit"></textarea>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th style="width: 20%;">{% trans 'Mitarbeiter' %}</th>
                                                            <td style="width: 80%;" colspan="3">
                                                                LISTE MIT CONTACTS UND POSITION
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row buddy-row">
                                            <div class="col-xs-12">
                                                <h3 class="text-blue"><i class="fa fa-map-marker"></i> {% trans 'Adresse' %}</h3>
                                                <div class="buddy-box">
                                                    <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                                        <tbody>
                                                            <tr>
                                                                <th style="width: 20%;">{% trans 'Strasse' %}</th>
                                                                <td style="width: 80%;" colspan="3"><span class="buddy-mode-display">[[ contact.address_street ]]</span><input v-model="contact.address_street" type="text" class="form-control buddy-mode-edit"></td>
                                                            </tr>
                                                            <tr>
                                                                <th style="width: 20%;">{% trans 'Zusatz' %}</th>
                                                                <td style="width: 80%;" colspan="3"><span class="buddy-mode-display">[[ contact.address_additional ]]</span><input v-model="contact.address_additional" type="text" class="form-control buddy-mode-edit"></td>
                                                            </tr>
                                                            <tr>
                                                                <th style="width: 20%;">{% trans 'PLZ' %}</th>
                                                                <td style="width: 30%;"><span class="buddy-mode-display">[[ contact.address_postalcode ]]</span><input v-model="contact.address_postalcode" type="text" class="form-control buddy-mode-edit"></td>
                                                                <th style="width: 15%;">{% trans 'Ort' %}</th>
                                                                <td style="width: 35%;"><span class="buddy-mode-display">[[ contact.address_city ]]</span><input v-model="contact.address_city" type="text" class="form-control buddy-mode-edit"></td>
                                                            </tr>
                                                            <tr>
                                                                <th style="width: 20%;">{% trans 'Land' %}</th>
                                                                <td style="width: 30%;"><span class="buddy-mode-display">[[ contact.address_country ]]</span><input v-model="contact.address_country" type="text" class="form-control buddy-mode-edit"></td>
                                                                <th style="width: 15%;">{% trans 'Region' %}</th>
                                                                <td style="width: 35%;"><span class="buddy-mode-display">[[ contact.address_region ]]</span><input v-model="contact.address_region" type="text" class="form-control buddy-mode-edit"></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">
                                                                    <span class="buddy-mode-display">
                                                                        <div id="google_map_container" style="height: 300px; overflow:visible;"></div>
                                                                    </span>
                                                                    <div class="buddy-mode-edit" style="width: 100%; text-align: center; border: 3px dashed #bbbbbb;">
                                                                        <span style="font-size: 36px; color:#bbbbbb;">{% trans 'Karten Vorschau' %}</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Action Plan Pane -->
                            <div id="view_actionplan_container" class="buddy-content tab-pane" style="border-top: none;">
                                <div class="row buddy-row">
                                    <div class="col-xs-12">
                                        Hier können die Template Formulare aus dem Action Planing eingefügt und verwaltet werden.
                                    </div>
                                </div>
                            </div>

                            <!-- Timeline Pane -->
                            <div id="view_timeline_container" class="buddy-content tab-pane" style="border-top: none;">
                                <div class="row buddy-row">
                                    <div class="col-xs-12">
                                        Alle Interaktionen mit dieser Firma oder Person in form einer Timeline
                                    </div>
                                </div>
                            </div>

                            <!-- Correspondence Pane -->
                            <div id="view_correspondence_container" class="buddy-content tab-pane" style="border-top: none;">
                                <div class="row buddy-row">

                                    <div class="col-xs-3">
                                        <div class="buddy-box" style="text-align: center; padding: 5px;">
                                            <i class="fa fa-file-text-o fa-5x" style="margin-bottom: 10px;"></i><br>
                                            <strong>Brief Volage</strong><br>
                                            Mit Personal Brand
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="buddy-box" style="text-align: center; padding: 5px;">
                                            <i class="fa fa-file-text-o fa-5x" style="margin-bottom: 10px;"></i><br>
                                            <strong>Rechnung Volage</strong><br>
                                            Brief mit Aufzählung
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="buddy-box" style="text-align: center; padding: 5px;">
                                            <i class="fa fa-file-text-o fa-5x" style="margin-bottom: 10px;"></i><br>
                                            <strong>Brief Neutral</strong><br>
                                            Ohne Personal Brand
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="buddy-box" style="text-align: center; padding: 5px;">
                                            <i class="fa fa-file-text-o fa-5x" style="margin-bottom: 10px;"></i><br>
                                            <strong>Brief Volage</strong><br>
                                            Standard Brief
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Interface Pane -->
                            <div id="view_interface_container" class="buddy-content tab-pane" style="border-top: none;">
                                <div class="row buddy-row">
                                    <div class="col-xs-12">
                                        Externes Firma oder Personen Interface. Hier kann eingestellt werden wie sich jemand einlogen kann um direkt zu agieren oder Delegates besser zu managen.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions Overview -->
                <div id="function_listview" class="row buddy-row function_navigation">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>{% trans 'Übersicht Funktionen' %}</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> {% trans 'Drucken' %}</button>
                            <button v-on:click="showAddNew();" class="btn btn-default btn-block btn-flat"><i class="fa fa-plus-circle"></i> {% trans 'Hinzufügen' %}</button>
                        </div>
                    </div>
                </div>

                <!-- General Functions Detail -->
                <div id="function_detail" class="row buddy-row function_navigation" style="display: none;">
                    <div class="col-xs-12">
                        <div class="buddy-content" v-bind:data-id="contact.id">
                            <h4>{% trans 'Detail Funktionen' %}</h4>
                            <button v-on:click="showList();" class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> {% trans 'Übersicht' %}</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> {% trans 'Drucken' %}</button>
                            <button v-on:click="showEditMode();" class="btn btn-default btn-block btn-flat"><i class="fa fa-pencil"></i> {% trans 'Bearbeiten' %}</button>
                        </div>
                    </div>
                </div>

                <!-- Function Adding -->
                <div id="function_addmode" class="row buddy-row function_navigation" style="display: none;">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>{% trans 'Neuerfassung' %}</h4>
                            <button v-on:click="showList();" class="btn btn-warning btn-block btn-flat"><i class="fa fa-times"></i> {% trans 'Abbrechen' %}</button>
                            <button v-on:click="saveDetail();" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> {% trans 'Speichern' %}</button>
                            <button v-on:click="transformToCompany();" class="btn btn-default btn-block btn-flat contact-type-person"><i class="fa fa-building"></i> {% trans 'in Firma umwandeln' %}</button>
                            <button style="display: none;" v-on:click="transformToPerson();" class="btn btn-default btn-block btn-flat contact-type-company"><i class="fa fa-user"></i> {% trans 'in Person umwandeln' %}</button>
                        </div>
                    </div>
                </div>

                <!-- Function Editing -->
                <div id="function_editmode" class="row buddy-row function_navigation" style="display: none;">
                    <div class="col-xs-12">
                        <div class="buddy-content" v-bind:data-id="contact.id">
                            <h4>{% trans 'Bearbeitungs Modus' %}</h4>
                            <button v-on:click="showDetail($event);" class="btn btn-warning btn-block btn-flat"><i class="fa fa-times"></i> {% trans 'Abbrechen' %}</button>
                            <button v-on:click="saveDetail();" class="btn btn-success btn-block btn-flat"><i class="fa fa-save"></i> {% trans 'Speichern' %}</button>
                            <br><br>
                            <button v-on:click="deleteContact();" class="btn btn-danger btn-block btn-flat"><i class="fa fa-trash"></i> {% trans 'Löschen' %}</button>
                        </div>
                    </div>
                </div>

                <!-- General Functions -->
                <div id="function_filtering" class="row buddy-row function_navigation">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>{% trans 'Filter' %}</h4>
                            <div class="row buddy-row">
                                <div class="col-xs-12">
                                    <button v-if="filter.show_company==true" class="btn btn-default btn-block btn-flat bg-aqua" v-on:click="setFilter('show_company', '');"><i class="fa fa-building"></i> {% trans 'Companys' %}</button>
                                    <button v-if="filter.show_company==false" class="btn btn-default btn-block btn-flat btn-default" v-on:click="setFilter('show_company', '');"><i class="fa fa-building"></i> {% trans 'Companys' %}</button>
                                    <button v-if="filter.show_person==true" class="btn btn-default btn-block btn-flat bg-aqua" v-on:click="setFilter('show_person', '');"><i class="fa fa-users"></i> {% trans 'People' %}</button>
                                    <button v-if="filter.show_person==false" class="btn btn-default btn-block btn-flat btn-default" v-on:click="setFilter('show_person', '');"><i class="fa fa-users"></i> {% trans 'People' %}</button>
                                </div>
                            </div>
                            <div class="row buddy-row">
                                <div class="col-xs-6">
                                    <div v-for="(count, char) in char_counts.left" style="margin-bottom: 5px;">
                                        <button v-if="filter.char==char&&count>0" class="btn btn-xs btn-block btn-flat bg-aqua" v-on:click="setFilter('char', char);">[[ char ]]<span class="badge bg-gray-active pull-right" style="margin-top:2px;">[[ count ]]</span></button>
                                        <button v-if="filter.char!=char&&count>0" class="btn btn-xs btn-block btn-flat btn-default" v-on:click="setFilter('char', char);">[[ char ]]<span class="badge bg-gray-active pull-right" style="margin-top:2px;">[[ count ]]</span></button>
                                        <button v-if="filter.char==char&&count==0" style="opacity: 0.5" class="btn disabled btn-xs btn-block btn-flat bg-aqua">[[ char ]]<span class="badge bg-gray-active pull-right" style="margin-top:2px;">[[ count ]]</span></button>
                                        <button v-if="filter.char!=char&&count==0" style="opacity: 0.5" class="btn disabled btn-xs btn-block btn-flat btn-default">[[ char ]]<span class="badge bg-gray-active pull-right" style="margin-top:2px;">[[ count ]]</span></button>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div v-for="(count, char) in char_counts.right" style="margin-bottom: 5px;">
                                        <button v-if="filter.char==char&&count>0" class="btn btn-xs btn-block btn-flat bg-aqua" v-on:click="setFilter('char', char);">[[ char ]]<span class="badge bg-gray-active pull-right" style="margin-top:2px;">[[ count ]]</span></button>
                                        <button v-if="filter.char!=char&&count>0" class="btn btn-xs btn-block btn-flat btn-default" v-on:click="setFilter('char', char);">[[ char ]]<span class="badge bg-gray-active pull-right" style="margin-top:2px;">[[ count ]]</span></button>
                                        <button v-if="filter.char==char&&count==0" style="opacity: 0.5" class="btn disabled btn-xs btn-block btn-flat bg-aqua">[[ char ]]<span class="badge bg-gray-active pull-right" style="margin-top:2px;">[[ count ]]</span></button>
                                        <button v-if="filter.char!=char&&count==0" style="opacity: 0.5" class="btn disabled btn-xs btn-block btn-flat btn-default">[[ char ]]<span class="badge bg-gray-active pull-right" style="margin-top:2px;">[[ count ]]</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
