

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Documents
            <small>This is your personal document storage. This is the place for all you documents.</small>
        </h1>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Navigation -->
                        <div id="view_detail_navigation" class="row">
                            <div class="col-xs-12">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#view_system_overview_container" data-toggle="tab"><i class="fa fa-diamond fa-2x"></i></a></li> <!-- System -->
                                    <li role="presentation"><a href="#view_custom_overview_container" data-toggle="tab"><i class="fa fa-user-o fa-2x"></i></a></li> <!-- Customer -->
                                </ul>
                            </div>
                        </div>
                        <div id="view_detail_container" class="tab-content">
                            <!-- System Overview-->
                            <div id="view_system_overview_container" class="buddy-content buddy-front-container tab-pane active" style="border-top: none;">
                                <div class="row buddy-row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-hover buddy-no-bottom buddy-hover">
                                            <tbody>
                                                <tr>
                                                    <th width="20px"></th>
                                                    <th width="100%">Folder Name</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fa-stack fa-lg">
                                                          <i class="fa fa-folder-o fa-stack-2x"></i>
                                                          <i class="fa fa-dashboard fa-stack-1x" style="margin-top: 1px;"></i>
                                                        </span>
                                                    </td>
                                                    <td><strong>Management Summary</strong><br>Monatliche zusammenfassung über das gesammte system.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fa-stack fa-lg">
                                                          <i class="fa fa-folder-o fa-stack-2x"></i>
                                                          <i class="fa fa-money fa-stack-1x" style="margin-top: 1px;"></i>
                                                        </span>
                                                    </td>
                                                    <td><strong>Finanz Rapport</strong><br>Ihre Einnahmen und Ausgaben sowie Ihr Zahlungsverkehr sowie ihre Budget Planungen.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fa-stack fa-lg">
                                                          <i class="fa fa-folder-o fa-stack-2x"></i>
                                                          <i class="fa fa-user fa-stack-1x" style="margin-top: 1px;"></i>
                                                        </span>
                                                    </td>
                                                    <td><strong>Persönliche Unterlagen</strong><br>Ihre Persönlichen Dokumente so wie Sämtliche Verträge, Ärztliche Unterlagen etc.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fa-stack fa-lg">
                                                          <i class="fa fa-folder-o fa-stack-2x"></i>
                                                          <i class="fa fa-building fa-stack-1x" style="margin-top: 1px;"></i>
                                                        </span>
                                                    </td>
                                                    <td><strong>Business Rapport</strong><br>Sämtliche Business Relevanten Informationen auf Monats basis</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fa-stack fa-lg">
                                                          <i class="fa fa-folder-o fa-stack-2x"></i>
                                                          <i class="fa fa-graduation-cap fa-stack-1x" style="margin-top: 1px;"></i>
                                                        </span>
                                                    </td>
                                                    <td><strong>Education Rapport</strong><br>Sämtliche Bildungs Relevanten Informationen auf Monats basis</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fa-stack fa-lg">
                                                          <i class="fa fa-folder-o fa-stack-2x"></i>
                                                          <i class="fa fa-heartbeat fa-stack-1x" style="margin-top: 1px;"></i>
                                                        </span>
                                                    </td>
                                                    <td><strong>Health Rapport</strong><br>Sämtliche Gesundheits Relevanten Informationen auf Monats basis</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fa-stack fa-lg">
                                                          <i class="fa fa-folder-o fa-stack-2x"></i>
                                                          <i class="fa fa-home fa-stack-1x" style="margin-top: 1px;"></i>
                                                        </span>
                                                    </td>
                                                    <td><strong>Household Rapport</strong><br>Sämtliche Haushalts Relevanten Informationen auf Monats basis</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fa-stack fa-lg">
                                                          <i class="fa fa-folder-o fa-stack-2x"></i>
                                                          <i class="fa fa-tree fa-stack-1x" style="margin-top: 1px;"></i>
                                                        </span>
                                                    </td>
                                                    <td><strong>Leisure Rapport</strong><br>Sämtliche Freizeits Relevanten Informationen auf Monats basis</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div id="view_custom_overview_container" class="buddy-content buddy-front-container tab-pane" style="border-top: none;">
                                <div class="row buddy-row">
                                    <div class="col-xs-12">
                                        TEST
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-plus-circle"></i> Neues Dokument anlegen</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-plus-circle"></i> Neuer Ordner anlegen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
