

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Finances
            <small>This is your personal finances manager. So you can budget your incomes.</small>
        </h1>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Front view -->
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="nav nav-tabs">
                                    <li role="presentation" class="active"><a href="#"><i class="fa fa-line-chart fa-2x"></i></a></li> <!-- Finanz Planer -->
                                    <li role="presentation"><a href="#"><i class="fa fa-history fa-2x"></i></a></li> <!-- Alle ausgaben und einnahmen als haushalts journal -->
                                    <li role="presentation"><a href="#"><i class="fa fa-university fa-2x"></i></a></li> <!-- Konten übersicht und IST Bestand -->
                                    <li role="presentation"><a href="#"><i class="fa fa-pie-chart fa-2x"></i></a></li> <!-- Budget Planer -->
                                    <li role="presentation"><a href="#"><i class="fa fa-sitemap fa-2x"></i></a></li> <!-- Projekt Budget -->
                                </ul>
                            </div>
                        </div>
                        <div id="overview_container" class="buddy-content buddy-front-container" style="border-top: none;">
                            <!-- Finanzielle Situation -->
                            <div class="row buddy-row">
                                <div class="col-xs-12">
                                    <h3 class="text-blue"><i class="fa fa-line-chart"></i> Finanz Planer</h3>
                                    Diagramm wo mann die DownKurve vom einkommen bis ende Monat sehen kann.
                                    Wenn mann über der Kurve bleibt sind die Sparr Ziele eingehalten. Wenn mann
                                    darunter geht dann nicht.
                                    Auserdem wird die aktuelle Kurve mit eingeblendet
                                </div>
                            </div>

                            <!-- Finanzielle Situation -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="text-blue"><i class="fa fa-search"></i> Vermögensübersicht</h3>
                                </div>
                            </div>
                            <div class="row buddy-row">
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tbody>
                                                <tr>
                                                    <th colspan="2">Zahlungskonten</th>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="text-align: center;">
                                                        <br><i class="fa fa-credit-card fa-5x"></i><br>&nbsp;
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 40%">Saldo</th>
                                                    <td style="width: 60%; text-align: right;">300.00 CHF</td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 40%">Verplant</th>
                                                    <td style="width: 60%; text-align: right;">100.00 CHF</td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 40%">Verfügbar</th>
                                                    <td style="width: 60%; text-align: right;">200.00 CHF</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th colspan="2">Anlagekonten</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="text-align: center;">
                                                    <br><i class="fa fa-university fa-5x"></i><br>&nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%">Saldo</th>
                                                <td style="width: 60%; text-align: right;">300.00 CHF</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%">Verplant</th>
                                                <td style="width: 60%; text-align: right;">100.00 CHF</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%">Verfügbar</th>
                                                <td style="width: 60%; text-align: right;">200.00 CHF</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th colspan="2">Barbestand</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="text-align: center;">
                                                    <br><i class="fa fa-money fa-5x"></i><br>&nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%">Saldo</th>
                                                <td style="width: 60%; text-align: right;">300.00 CHF</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%">Verplant</th>
                                                <td style="width: 60%; text-align: right;">100.00 CHF</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%">Verfügbar</th>
                                                <td style="width: 60%; text-align: right;">200.00 CHF</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Einnahmen / Ausgaben-->
                            <div class="row buddy-row">
                                <div class="col-md-6">
                                    <h3 class="text-blue"><i class="fa fa-arrow-circle-o-up text-green"></i> Fix Einnahmen</h3>
                                    <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                        <tbody>
                                        <tr>
                                            <th style="width: 60%">Quelle</th>
                                            <th style="width: 40%">Betrag</th>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">Lohn Backoffice AG</td>
                                            <td style="width: 40%; text-align: right;">4'100.00 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">Finanzsprize Papito</td>
                                            <td style="width: 40%; text-align: right;">300.00 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%"><strong>Total</strong></td>
                                            <td style="width: 40%; text-align: right;"><strong>4'400.00 CHF</strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="text-blue"><i class="fa fa-arrow-circle-o-up text-green"></i> Dynamische Einnahmen</h3>
                                    <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                        <tbody>
                                        <tr>
                                            <th style="width: 60%">Quelle</th>
                                            <th style="width: 40%">Betrag</th>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">Ebay Verkauf</td>
                                            <td style="width: 40%; text-align: right;">150.00 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%"><strong>Total</strong></td>
                                            <td style="width: 40%; text-align: right;"><strong>150.00 CHF</strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Dynamische Ausgaben / Einnahmen-->
                            <div class="row buddy-row">
                                <div class="col-md-6">
                                    <h3 class="text-blue"><i class="fa fa-arrow-circle-o-down text-red"></i> Fix Ausgaben</h3>
                                    <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                        <tbody>
                                        <tr>
                                            <th style="width: 60%">Quelle</th>
                                            <th style="width: 40%">Betrag</th>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">Miette</td>
                                            <td style="width: 40%; text-align: right;">1'470.00 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">Steuern</td>
                                            <td style="width: 40%; text-align: right;">400.00 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">Swisscom</td>
                                            <td style="width: 40%; text-align: right;">140.00 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">Krankenkasse</td>
                                            <td style="width: 40%; text-align: right;">140.00 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%"><strong>Total</strong></td>
                                            <td style="width: 40%; text-align: right;"><strong>2'430.00 CHF</strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="text-blue"><i class="fa fa-arrow-circle-o-down text-red"></i> Dynamische Ausgaben</h3>
                                    <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                        <tbody>
                                        <tr>
                                            <th style="width: 60%">Quelle</th>
                                            <th style="width: 40%">Betrag</th>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">Lebensmittel</td>
                                            <td style="width: 40%; text-align: right;">800.00 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">E-Zigarette</td>
                                            <td style="width: 40%; text-align: right;">50.00 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">Transport</td>
                                            <td style="width: 40%; text-align: right;">82.40 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%">Ausgang</td>
                                            <td style="width: 40%; text-align: right;">230.00 CHF</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 60%"><strong>Total</strong></td>
                                            <td style="width: 40%; text-align: right;"><strong>1'300.00 CHF</strong></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
