

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Skills
            <small>This is the Digital representation of your skills. You can use this as your personal Wiki.</small>
        </h1>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Front view -->
                        <div id="overview_container" class="buddy-content buddy-front-container">
                            <div class="row buddy-row">
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tbody>
                                                <tr>
                                                    <th colspan="2">Geographie</th>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="padding: 0px;">
                                                        <img src="http://wallpapercave.com/wp/fcuObs5.jpg" style="width: 100%; height: 150px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 40%;">Articles</th>
                                                    <td style="width: 60%;">30</td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 40%;">Last Test</th>
                                                    <td style="width: 60%;">29.02.2015</td>
                                                </tr>
                                                <tr>
                                                    <th style="width: 40%;">Knowledge</th>
                                                    <td style="width: 60%;"><span class="text-green"><b>90%</b></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th colspan="2">Geschichte</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding: 0px;">
                                                    <img src="http://www.csus.edu/hist/images/sliderimages/history_book.jpg" style="width: 100%; height: 150px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Articles</th>
                                                <td style="width: 60%;">30</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Last Test</th>
                                                <td style="width: 60%;">29.02.2015</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Knowledge</th>
                                                <td style="width: 60%;"><span class="text-green"><b>90%</b></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th colspan="2">Sprache und Geselschaft</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding: 0px;">
                                                    <img src="http://www.bhartiyasociety.com/wp-content/themes/bhartiya/images/heroimage/img4.jpg" style="width: 100%; height: 150px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Articles</th>
                                                <td style="width: 60%;">30</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Last Test</th>
                                                <td style="width: 60%;">29.02.2015</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Knowledge</th>
                                                <td style="width: 60%;"><span class="text-green"><b>90%</b></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row buddy-row">
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th colspan="2">Kunst und Kultur</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding: 0px;">
                                                    <img src="http://careers.yorku.ca/files/2014/07/arts-culture.jpg" style="width: 100%; height: 150px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Articles</th>
                                                <td style="width: 60%;">30</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Last Test</th>
                                                <td style="width: 60%;">29.02.2015</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Knowledge</th>
                                                <td style="width: 60%;"><span class="text-green"><b>90%</b></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th colspan="2">Religion</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding: 0px;">
                                                    <img src="https://carleton.ca/religion/wp-content/uploads/RIPL-Candles.jpg" style="width: 100%; height: 150px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Articles</th>
                                                <td style="width: 60%;">30</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Last Test</th>
                                                <td style="width: 60%;">29.02.2015</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Knowledge</th>
                                                <td style="width: 60%;"><span class="text-green"><b>90%</b></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th colspan="2">Sport</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding: 0px;">
                                                    <img src="http://www.natuerlich-reisen.net/wp-content/uploads/2013/07/Joggen-am-Strand.jpg" style="width: 100%; height: 150px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Articles</th>
                                                <td style="width: 60%;">30</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Last Test</th>
                                                <td style="width: 60%;">29.02.2015</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Knowledge</th>
                                                <td style="width: 60%;"><span class="text-green"><b>90%</b></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row buddy-row">
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th colspan="2">Technik</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding: 0px;">
                                                    <img src="http://technik-wald-bienen.de/imagetypes/slider/technik_01-zeichnung.jpg" style="width: 100%; height: 150px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Articles</th>
                                                <td style="width: 60%;">30</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Last Test</th>
                                                <td style="width: 60%;">29.02.2015</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Knowledge</th>
                                                <td style="width: 60%;"><span class="text-green"><b>90%</b></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th colspan="2">Wissenschaft</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding: 0px;">
                                                    <img src="http://longwallpapers.com/Desktop-Wallpaper/science-lab-wallpaper-picture-For-Desktop-Wallpaper.png" style="width: 100%; height: 150px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Articles</th>
                                                <td style="width: 60%;">30</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Last Test</th>
                                                <td style="width: 60%;">29.02.2015</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Knowledge</th>
                                                <td style="width: 60%;"><span class="text-green"><b>90%</b></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th colspan="2">Wirtschaft</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding: 0px;">
                                                    <img src="http://www.cvp-aargau.ch/wp-content/uploads/2016/05/Wirtschaft_Moodbild_verkleinert.jpg" style="width: 100%; height: 150px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Articles</th>
                                                <td style="width: 60%;">30</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Last Test</th>
                                                <td style="width: 60%;">29.02.2015</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 40%;">Knowledge</th>
                                                <td style="width: 60%;"><span class="text-green"><b>90%</b></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                            <button class="btn btn-default btn-block btn-flat" disabled><i class="fa fa-plus-circle"></i> Hinzufügen</button>
                        </div>
                    </div>
                </div>

                <!-- Testing Knowledge -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Testing</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-play"></i> Start Test</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
