

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Time
            <small>This is the time you have to give for you life.</small>
        </h1>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#"><b>Woche 25: </b> 23.05.2017 - 30.05.2017</a></li>
                            <li role="presentation"><a href="#">Template</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Front view -->
                        <div id="overview_container" class="buddy-content buddy-front-container" style="border-top: none;">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th style="width:14%; text-align: center;">mon<br>03.05</th>
                                                <th style="width:14%; text-align: center;">tue<br>04.05</th>
                                                <th style="width:14%; text-align: center;">wed<br>05.05</th>
                                                <th style="width:14%; text-align: center;">thu<br>06.05</th>
                                                <th style="width:14%; text-align: center;">fri<br>07.05</th>
                                                <th style="width:14%; text-align: center;">sat<br>08.05</th>
                                                <th style="width:14%; text-align: center;">sun<br>09.05</th>
                                            </tr>
                                            <tr>
                                                <td style="height: 300px;">
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block bg-gray"><i class="fa fa-bed"></i> <span class="hidden-sm hidden-xs"><br>7.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block bg-gray"><i class="fa fa-heartbeat"></i> <span class="hidden-sm hidden-xs"><br>1.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block bg-gray"><i class="fa fa-building"></i> <span class="hidden-sm hidden-xs"><br>4.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block bg-gray"><i class="fa fa-heartbeat"></i> <span class="hidden-sm hidden-xs"><br>1.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block btn-info"><i class="fa fa-building"></i> <span class="hidden-sm hidden-xs"><br>4.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block btn-default"><i class="fa fa-graduation-cap"></i> <span class="hidden-sm hidden-xs"><br>4.5h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block btn-default"><i class="fa fa-tree"></i> <span class="hidden-sm hidden-xs"><br>1.5h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block btn-default"><i class="fa fa-bed"></i> <span class="hidden-sm hidden-xs"><br>1.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                </td>
                                                <td style="height: 300px;">
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block btn-default"><i class="fa fa-bed"></i> <span class="hidden-sm hidden-xs"><br>7.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                </td>
                                                <td style="height: 300px;">
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block btn-default"><i class="fa fa-bed"></i> <span class="hidden-sm hidden-xs"><br>7.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                </td>
                                                <td style="height: 300px;">
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block btn-default"><i class="fa fa-bed"></i> <span class="hidden-sm hidden-xs"><br>7.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                </td>
                                                <td style="height: 300px;">
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block btn-default"><i class="fa fa-bed"></i> <span class="hidden-sm hidden-xs"><br>7.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                </td>
                                                <td style="height: 300px;">
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block btn-default"><i class="fa fa-bed"></i> <span class="hidden-sm hidden-xs"><br>7.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                </td>
                                                <td style="height: 300px;">
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                    <a href="#" class="btn btn-flat btn-block btn-default"><i class="fa fa-bed"></i> <span class="hidden-sm hidden-xs"><br>7.0h</span></a>
                                                    <button class="buddy-mode-edit btn btn-flat btn-block btn-success btn-xs"><i class="fa fa-plus-circle"></i></button><span class="buddy-mode-display btn-block"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width:14%; text-align: center;">24.0h</th>
                                                <th style="width:14%; text-align: center;">1.0h</th>
                                                <th style="width:14%; text-align: center;">1.0h</th>
                                                <th style="width:14%; text-align: center;">1.0h</th>
                                                <th style="width:14%; text-align: center;">1.0h</th>
                                                <th style="width:14%; text-align: center;">1.0h</th>
                                                <th style="width:14%; text-align: center;">1.0h</th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Add view -->
                        <br>
                        <div id="add_container" class="buddy-content buddy-front-container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Lifespace</label>
                                            <select class="form-control">
                                                <option>Business</option>
                                                <option>Education</option>
                                                <option>Health</option>
                                                <option>Household</option>
                                                <option>Leisure</option>
                                                <option>Socialize</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Aktivität</label>
                                            <select class="form-control">
                                                <option>Backoffice AG</option>
                                                <option>Pizza Blitz</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Startzeit</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                <input type="text" class="form-control" placeholder="Starting">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Endzeit</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                <input type="text" class="form-control" placeholder="Ending">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Beschreibung (optional)</label>
                                            <textarea rows="4" class="form-control"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Priorisierte Kontakte (optional)</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-address-card-o"></i>
                                                </div>
                                                <input type="text" class="form-control">
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-flat"><i class="fa fa-plus-circle"></i></button>
                                            </span>
                                            </div>
                                            <div class="contact-container buddy-list-box">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat" onclick="switchToDisplayMode();"><i class="fa fa-list"></i> Übersicht</button>
                            <button class="btn btn-default btn-block btn-flat" onclick="switchToEditMode();"><i class="fa fa-pencil"></i> Bearbeiten</button>
                        </div>
                    </div>
                </div>

                <!-- Week Selection Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Wochen Selektion</h4>
                            <span v-for="(week, week_nr) in weeks">
                                <span v-if="week_nr == actual_week">
                                    <button class="btn bg-aqua btn-flat" style="margin-bottom: 3px; padding: 4px;">
                                        <span class="fa-stack pull-left">
                                            <i class="fa fa-calendar-o fa-stack-2x"></i>
                                            <i class="fa-stack-1x" style="margin-top:4px; font-family: Arial;">[[ week_nr ]]</i>
                                        </span>
                                    </button>
                                </span>
                                <span v-if="week_nr < actual_week">
                                    <button class="btn bg-gray btn-flat" style="margin-bottom: 3px; padding: 4px;">
                                        <span class="fa-stack pull-left">
                                            <i class="fa fa-calendar-o fa-stack-2x"></i>
                                            <i class="fa-stack-1x" style="margin-top:4px; font-family: Arial;">[[ week_nr ]]</i>
                                        </span>
                                    </button>
                                </span>
                                <span v-if="week_nr > actual_week">
                                    <button class="btn btn-default btn-flat" style="margin-bottom: 3px; padding: 4px;">
                                        <span class="fa-stack pull-left">
                                            <i class="fa fa-calendar-o fa-stack-2x"></i>
                                            <i class="fa-stack-1x" style="margin-top:4px; font-family: Arial;">[[ week_nr ]]</i>
                                        </span>
                                    </button>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
