

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Inbox
            <small>This is where all your stuff comes in.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#"><i class="fa fa-inbox fa-2x"></i></a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-folder-open fa-2x"></i></a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-history fa-2x"></i></a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-trash fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Inbox Container -->
                        <div id="overview_container" class="buddy-content buddy-front-container" style="border-top: none;">
                            <div class="buddy-box">
                                <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                    <tbody><tr>
                                        <th style="width: 20px;">#</th>
                                        <th style="width: 60%;">Title</th>
                                        <th style="width: 20%;">From</th>
                                        <th style="width: 20%;">Date Time</th>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>Online Rechnung</td>
                                        <td>info.hard@bluewin.ch</td>
                                        <td>04.03.2017 - 08:45</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td>Online Rechnung</td>
                                        <td><span class="badge bg-green">Steuerverwaltung Baselland</span> </td>
                                        <td>04.03.2017 - 08:45</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Stuff Detail -->
                        <!-- todelete--><br>
                        <div id="stuff_detail" class="buddy-content" style="#display: none;">
                            <div class="row">
                                <div class="col-md-7">
                                    HEADER and BODY
                                </div>
                                <div class="col-md-5 buddy-v-line">
                                    <div class="buddy-small-title" style="margin-top: 0px;">Klassifizierung:</div>
                                    lifespace, Keywords, Action-Type, Action-Plan Template

                                    <div class="buddy-small-title">Delegation:</div>
                                    <!-- delegations user -->
                                    <!-- erledigen bis -->

                                    <div class="buddy-small-title">Termin:</div>
                                    <!-- erledigen bis -->
                                    <!-- ort-->
                                    <!-- Kontakte einladen -->

                                    <div class="buddy-small-title">Ticket:</div>
                                    <!-- erledigen bis -->

                                    <div class="buddy-small-title">Project:</div>
                                    <!-- New projekt erstellen nicht hinzufügen !-->

                                    <div class="buddy-small-title">Contacts:</div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-address-card-o"></i>
                                            </div>
                                            <input type="text" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-flat"><i class="fa fa-plus-circle"></i></button>
                                            </span>
                                        </div>

                                        <div class="contact-container buddy-list-box">
                                            <span class="badge bg-green">Steuerverwaltung Baselland <a href="#"><i class="fa fa-times"></i></a></span>
                                            <span class="badge bg-green">Katja Buecher <a href="#"><i class="fa fa-times"></i></a></span>
                                        </div>
                                    </div>

                                    <div class="buddy-small-title">Document:</div>
                                    SELECT2 Document Type Picker

                                    <div class="buddy-small-title">Trackers:</div>
                                    <!-- Tracker auswahl -->
                                    <!-- Regel Selektion -->


                                    <!-- Assistance Pagination -->
                                    <ul class="pagination">
                                        <li class="paginate_button previous disabled" id="example2_previous">
                                            <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0"><i class="fa fa-arrow-left"></i></a>
                                        </li>
                                        <li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li>
                                        <li class="paginate_button"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">2</a></li>
                                        <li class="paginate_button"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">3</a></li>
                                        <li class="paginate_button"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">4</a></li>
                                        <li class="paginate_button"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">5</a></li>
                                        <li class="paginate_button next" id="example2_next">
                                            <a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0"><i class="fa fa-arrow-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                        </div>
                    </div>
                </div>

                <!-- Inbox Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Quick Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-folder-open"></i> Someday / Maybe</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-history"></i> Re Schedule</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-trash"></i> Löschen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
