
<!-- BG Image Title -->
<div class="container-fluid bg_geo_03 bg_box_shadow_01 anim_bg" style="height: 500px; width: 100%; text-align: center">
    <div style="text-align: center; font-family: quicksand; font-size: 100px; color: #ffffff; padding-top: 30px;">
        Account Settings
    </div>
    <div style="text-align: center; font-family: quicksand; font-size: 21px; color: #ffffff; padding-top: 0px; margin-bottom: 20px;;">
        Here you can change your preferences and configurate your settings.
    </div>
    <img src="{{ path_for('home') }}{{ profile_img }}" width="200px" height="200px" alt="User profile image" class="img-circle">
</div>
<div class="container-fluid">&nbsp;</div>

<!-- Page Container -->
<div id="account_settings" class="container" style="font-family: quicksand; margin-top: 20px;">

    <!-- Setting Tabs -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div id="setting_info">
                <!-- Setting Codes -->
                {% if code == "profile_error_1" %}<div data-tab="user_profile_tab" class="message alert alert-warning" role="alert"><span class="fa fa-exclamation-triangle"></span> Your profile image is to big (max size: 1MB).</div>{% endif %}
                {% if code == "profile_error_2" %}<div data-tab="user_profile_tab" class="message alert alert-warning" role="alert"><span class="fa fa-exclamation-triangle"></span> Your image profile doesnt have the correct format (allowed are .jpg, .png, .gif).</div>{% endif %}
                {% if code == "profile_error_3" %}<div data-tab="user_profile_tab" class="message alert alert-danger" role="alert"><span class="fa fa-exclamation-triangle"></span> Sorry there was an Error. Please try again.</div>{% endif %}
                {% if code == "profile_success" %}<div data-tab="user_profile_tab" class="message alert alert-success" role="alert"><span class="fa fa-check-circle-o"></span> Profile successfully updatet.</div>{% endif %}
                {% if code == "password_error_1" %}<div data-tab="reset_password_tab" class="message alert alert-warning" role="alert"><span class="fa fa-exclamation-triangle"></span> Password dosnt match the retyped password. Please try again.</div>{% endif %}
                {% if code == "password_error_2" %}<div data-tab="reset_password_tab" class="message alert alert-warning" role="alert"><span class="fa fa-exclamation-triangle"></span> The Old Password is not correct. Please try again.</div>{% endif %}
                {% if code == "password_success_1" %}<div data-tab="reset_password_tab" class="message alert alert-success" role="alert"><span class="fa fa-check-circle-o"></span> Password successfully changed.</div>{% endif %}
                {% if code == "email_success_1" %}<div data-tab="reset_email_tab" class="message alert alert-success" role="alert"><span class="fa fa-envelope-o"></span> The email change link is sendet. Please Check your mails.</div>{% endif %}
                {% if code == "email_error_1" %}<div data-tab="reset_email_tab" class="message alert alert-warning" role="alert"><span class="fa fa-exclamation-triangle"></span> Sorry there was an Error. Please try again.</div>{% endif %}
                {% if code == "email_success_2" %}<div data-tab="reset_email_tab" class="message alert alert-success" role="alert"><span class="fa fa-check-circle-o"></span> Email successfully changed.</div>{% endif %}
                {% if code == "delete_error_1" %}<div data-tab="delete_account_tab" class="message alert alert-warning" role="alert"><span class="fa fa-exclamation-triangle"></span> Please write "Yes" in the first Checkbox. Please try again.</div>{% endif %}
                {% if code == "delete_error_2" %}<div data-tab="delete_account_tab" class="message alert alert-warning" role="alert"><span class="fa fa-exclamation-triangle"></span> Please enter you correct account Password..</div>{% endif %}
            </div>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#user_profile_tab" data-toggle="tab">User Profile</a></li>
                <li role="presentation"><a href="#reset_password_tab" data-toggle="tab">Reset Password</a></li>
                <li role="presentation"><a href="#reset_email_tab" data-toggle="tab">Reset Email</a></li>
                <li role="presentation"><a href="#delete_account_tab" data-toggle="tab">Delete Account</a></li>
            </ul>
        </div>
    </div>

    <!-- User Settings Page -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 tab-content">
            <!-- User Profile Tab -->
            <div id="user_profile_tab" class="panel panel-default tab-pane active" style="border-top: none;">
                <div class="panel-body ">
                    <form action="{{ path_for('account_change_profile') }}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="nickname">Nickname</label>
                            <input type="text" name="nickname" class="form-control" id="nickname" placeholder="Nickname" value="{{ form_data.nickname }}">
                        </div>
                        <div class="form-group">
                            <label for="default_lang">Default Language</label>
                            <select class="form-control" name="language" id="default_lang">
                                {% if form_data.default_lang == 'en' %}
                                    <option value="en" selected>English</option>
                                {% else %}
                                    <option value="en">English</option>
                                {% endif %}
                                {% if form_data.default_lang == 'de' %}
                                    <option value="de" selected>Deutsch</option>
                                {% else %}
                                    <option value="de">Deutsch</option>
                                {% endif %}
                                {% if form_data.default_lang == 'fr' %}
                                    <option value="fr" selected>Français</option>
                                {% else %}
                                    <option value="fr">Français</option>
                                {% endif %}
                                {% if form_data.default_lang == 'it' %}
                                    <option value="it" selected>Italiano</option>
                                {% else %}
                                    <option value="it">Italiano</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="profile_img">Profile Image</label>
                            <input type="file" name="profile_img" id="profile_img">
                            <p class="help-block">Upload your Profile Image. (max. 1MB)</p>
                        </div>

                        <button type="submit" class="btn btn-default"><span class="fa fa-save"></span> Save</button>
                    </form>
                </div>
            </div>

            <!-- Reset Password Tab -->
            <div id="reset_password_tab" class="panel panel-default tab-pane" style="border-top: none;">
                <div class="panel-body ">
                    <form  action="{{ path_for('account_change_password') }}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="old_password">Old Password</label>
                            <input type="password" name="old_password" class="form-control" id="old_password" placeholder="Old Password">
                        </div>
                        <div class="form-group">
                            <label for="new_password_1">New Password</label>
                            <input type="password" name="new_password_1" class="form-control" id="new_password_1" placeholder="New Password">
                        </div>
                        <div class="form-group">
                            <label for="new_password_2">Retype new Password</label>
                            <input type="password" name="new_password_2" class="form-control" id="new_password_2" placeholder="New Password">
                        </div>

                        <button type="submit" class="btn btn-default"><span class="fa fa-save"></span> Save</button>
                    </form>
                </div>
            </div>

            <!-- Reset Email Tab -->
            <div id="reset_email_tab" class="panel panel-default tab-pane" style="border-top: none;">
                <div class="panel-body ">
                    <form action="{{ path_for('account_send_change_email') }}" method="post" enctype="multipart/form-data">
                        <p>If you want to change your email address (witch is also your loginname), type in your new email and we send you a activation link.</p>
                        <div class="form-group">
                            <label for="new_email">New Email</label>
                            <input type="email" name="email" class="form-control" id="new_email" placeholder="New Email">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="fa fa-envelope-o"></span> Send Change Link</button>
                    </form>
                </div>
            </div>

            <!-- Delete Account Tab -->
            <div id="delete_account_tab" class="panel panel-default tab-pane" style="border-top: none;">
                <div class="panel-body ">
                    <form action="{{ path_for('account_delete') }}" method="post">
                        <div class="alert alert-danger" role="alert"><b>Caution:</b><br> After you deleted your account it is not possible to restore it!!</div>
                        <div class="form-group">
                            <label for="delete">Do You realy want to delete this awesome Account ?</label>
                            <input type="text" name="delete" class="form-control" id="delete" placeholder="Type the Word: 'Yes' in here.">
                        </div>
                        <div class="form-group">
                            <label for="delete_password">Type in your Account Password</label>
                            <input type="password" name="delete_password" class="form-control" id="delete_password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-danger"><span class="fa fa-trash"></span> Delete Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
