

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Delegation
            <small>This is where all your Termines ar scheduled</small>
        </h1>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Front view -->
                        <div id="overview_container" class="buddy-content buddy-front-container">
                            CONTENT
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
