
/* This Class is for ButtonGroups in the PanelTitle section */
div.panel-btn {
    margin-top: -3px;
}

/* LifeBuddy Content */
.buddy-content {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #E6E6E6;
}

div.buddy-row {
    margin-bottom: 15px;
}

div.buddy-lifespace {
    color: #ffffff;
    font-size: 42px;
}

span.buddy-timer {
    font-size: 16px;
    margin-right: 10px;
}

i.buddy-big-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 70px;
    padding-top: 15px;
    padding-left: 22px;
}

div.buddy-space-header h3 {
    display: block;
    padding: 0px;
    margin: 0px;
}

div.buddy-box {
    border: 1px solid #EEEEEE;
}

div.buddy-list-box {
    border: 1px solid #d2d6de;
    padding: 5px;
    border-top: none;
    /*margin-right: 1px;*/
    min-height: 35px;
}

div.buddy-list-box a {
    margin-left: 5px;
    color: darkred;
}

.buddy-no-bottom {
    margin-bottom: 0px;
}

.buddy-header h4 {
    display: block;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.buddy-header h3 {
    display: block;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

div.buddy-space-header p {
    display: block;
    padding: 0px;
    margin: 0px;
}

.buddy-attachment .btn {
    text-align: left;
}

.buddy-hover {
    cursor: pointer;
}

table th {
    background-color: #F2F2F2;
}

.slider-handle {
    background: #273134;
}

.buddy-mode-edit {
    display: none;
}

.buddy-small-title {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.buddy-v-line {
    border-left: 1px solid #E6E6E6;
}

.buddy-h-line {
    border-top: 1px solid #E6E6E6;
}

select {
    border:1px solid red !important;
    border-radius: 0px !important;
    padding:2px !important;
}