
<!-- BG Image Title -->
<div class="container-fluid bg_geo_03 bg_box_shadow_01 anim_bg" style="height: 500px; width: 100%;">
    <div style="text-align: center; color: #ffffff; padding-top: 60px;">
        <span style="font-size: 164px;" class="fa fa-angle-left"></span>
        <span style="font-size: 164px;" class="fa fa-bolt"></span>
        <span style="font-size: 164px;" class="fa fa-angle-right"></span>
    </div>
    <div style="text-align: center; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 100px; color: #ffffff; padding-top: 10px;">
        <b>Life</b>Buddy
    </div>
    <div style="text-align: center; font-family: quicksand; font-size: 21px; color: #ffffff; padding-top: 0px;">
        Cloudbased Life Manager
    </div>
</div>
<div class="container-fluid bg_box_shadow_01 bg_geo_09 anim_bg" style="width: 100%;">
    <div class="row"><br>&nbsp;</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="row">
                <div class="col-xs-12" style="font-size: 26px;">
                    <i class="fa fa-lock"></i> Login to your Account
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="font-size: 26px;">
                    <input type="email" class="form-control" placeholder="Your E-mail address">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-12" style="font-size: 26px;">
                    <input type="password" class="form-control" placeholder="Your Password">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-12" style="font-size: 26px;">
                    <button class="btn btn-flat bg-lime-active btn-block">Login</button>
                </div>
            </div>
            <div class="row"><br>&nbsp;</div>
            <div class="row">
                <div class="col-xs-12" style="font-size: 26px;">
                    <i class="fa fa-magic"></i> Create Account for free
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="font-size: 14px; text-align: justify;">
                    You can use LifeBuddy for Free. You just need to Signup and are ready to Manage your whole Life. We are offer you 1GB of Cloud Storage if you need more you can upgrade your Account to LifeBudy Premium.
                    <button class="btn btn-flat bg-lime-active btn-block">Signup for free Account</button>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-12" style="font-size: 26px;">
                    <i class="fa fa-download"></i> Download Buddy Applications
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12" style="text-align: justify;">
                    <strong><i class="fa fa-mobile"></i> Mobile Buddy</strong><br>
                    The Mobile Buddy App for iOS and Android helps you by making payments, Time Tracking and in the Progress of Manualy scanned Documents.<br>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-6"><button class="btn btn-flat btn-block bg-black"><i class="fa fa-apple"></i> Download for iOS</button></div>
                <div class="col-xs-6"><button class="btn btn-flat btn-block bg-black"><i class="fa fa-android"></i> Download for Android</button></div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12" style="text-align: justify;">
                    <strong><i class="fa fa-desktop"></i> Desktop Buddy</strong><br>
                    The Desktop Buddy helps you by tracking your Digital Working. It can Track all your activities and your work rate. And it helps you by Uploading Documents.
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-6"><button class="btn btn-flat btn-block bg-black"><i class="fa fa-apple"></i> Download for OSx</button></div>
                <div class="col-xs-6"><button class="btn btn-flat btn-block bg-black"><i class="fa fa-windows"></i> Download for Windows</button></div>
            </div>
        </div>
    </div>
    <div class="row"><br>&nbsp;</div>
</div>
<div class="container-fluid bg_box_shadow_01 bg_geo_04 anim_bg" style="width: 100%;">
    <div class="row"><br>&nbsp;</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="row">
                <div class="col-xs-12" style="font-size: 26px;">
                    <i class="fa fa-thumbs-o-up"></i> What can LifeBuddy do for you?
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: justify;">
                    LifeBudy is a CloudBased webapplication that helps you to be more Productive. It manages all the stuff you want to achive and helps you to look Professional at every thing you do.
                    <br><br>
                    <strong>Feature list</strong>
                    <ul>
                        <li>Inbox Management</li>
                        <li>lifespace Management</li>
                        <li>Todo Listing</li>
                        <li>Calendar Functionality</li>
                        <li>Financial Planer</li>
                        <li>Contact Planer</li>
                        <li>Process optimizer</li>
                        <li>Document Management</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-12" style="font-size: 26px;">
                    <i class="fa fa-video-camera"></i> Watch LiveBuddy in action
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="font-size: 26px;">
                    <img src="http://anthillonline.com/wp-content/uploads/2013/07/videoPlaceholder.jpg" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
    <div class="row"><br>&nbsp;</div>
</div>

<div class="container-fluid bg_box_shadow_01 bg_geo_07 anim_bg" style="width: 100%;">
    <div class="row"><br>&nbsp;</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="row">
                <div class="col-xs-12" style="font-size: 26px;">
                    <i class="fa fa-money"></i> Pricing / Licence
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: justify;">
                    LiveBuddy comes in 2 versions. The Free version and the Premium version. There is no difference in the functionality of LifeBuddy but the Free Version has a Storage Limit of 1GB. If you are using the LifeBuddy document management feature we higly recoment do upgrade to LifeBuddy Premium because you will soon reach the Limit of 1GB Data Storage.
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-12" style="font-size: 36px; border: 2px solid slategray; border-radius: 10px;">
                    <center>10GB Storage / 5 CHF</center>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-12" style="font-size: 16px;">
                    Accepted Payment Methods<br>
                    <i class="fa fa-cc-visa fa-3x"></i>
                    <i class="fa fa-cc-mastercard fa-3x"></i>
                    <i class="fa fa-cc-paypal fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-12" style="font-size: 26px;">
                    <i class="fa fa-users"></i> Who uses LifeBuddy
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <br>
                    <img src="https://www.ornavi.com/wp-content/uploads/2015/09/Group-Logo.png" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="row"><br>&nbsp;</div>
</div>

<div id="home_guest" class="container" style="font-family: quicksand;">
    <!-- Account Tabs -->
    <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
        <div id="navigation_tab" class="col-sm-8 col-sm-offset-2">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#login_tab" data-toggle="tab">Login</a></li>
                <li role="presentation"><a href="#signup_tab" data-toggle="tab">Signup</a></li>
                <li role="presentation"><a href="#recovery_tab" data-toggle="tab">Password Recovery</a></li>
                <li role="presentation" class="pull-right"><a href="#impressum_tab" data-toggle="tab">Impressum</a></li>
            </ul>
        </div>
    </div>

    <!-- Tab Contents -->
    <div class="row tab-content" style="padding-bottom: 100px;">
        <!-- Login Form -->
        <div id="login_tab" class="col-sm-8 col-sm-offset-2 tab-pane active">
            <h1>Login</h1><hr>
            <div id="login_info">
                <!-- Login Codes -->
                {% if code == "login_deny_active" %}<div data-tab="login_tab" class="message alert alert-warning" role="alert"><span class="fa fa-exclamation-triangle"></span> Your Account is not activated. Please Check your emails.</div>{% endif %}
                {% if code == "login_deny_block" %}<div data-tab="login_tab" class="message alert alert-danger" role="alert"><span class="fa fa-ban"></span> Your Account is blocked. Please contact the Webmaster.</div>{% endif %}
                {% if code == "login_deny_deleted" %}<div data-tab="login_tab" class="message alert alert-warning" role="alert"><span class="fa fa-trash"></span> This Account is deleted. (For reactivation contact the Webmaster)</div>{% endif %}
                {% if code == "login_deny" %}<div data-tab="login_tab" class="message alert alert-danger" role="alert"><span class="fa fa-times"></span> Your login Credentials are not correct. Please try again.</div>{% endif %}
                {% if code == "login_error" %}<div data-tab="login_tab" class="message alert alert-danger" role="alert"><span class="fa fa-ban"></span> Sorry we where not able to activate your account.</div>{% endif %}
                {% if code == "login_success" %}<div data-tab="login_tab" class="message alert alert-success" role="alert"><span class="fa fa-check-circle-o"></span> Account Successfully activatet. You can login now.</div>{% endif %}
                {% if code == "login_logout" %}<div data-tab="login_tab" class="message alert alert-success" role="alert"><span class="fa fa-check-circle-o"></span> Your Logged out now.</div>{% endif %}
                {% if code == "login_error_3" %}<div data-tab="login_tab" class="message alert alert-warning" role="alert"><span class="fa fa-exclamation-triangle"></span> The email address is already in use. Please login.</div>{% endif %}
                {% if code == "login_send" %}<div data-tab="login_tab" class="message alert alert-success" role="alert"><span class="fa fa-envelope-o"></span> Please check your mail for activation link.</div>{% endif %}
                {% if code == "login_no_session" %}<div data-tab="login_tab" class="message alert alert-warning" role="alert"><span class="fa fa-exclamation-triangle"></span> Your user session expired. Please login.</div>{% endif %}
            </div>
            <form action="{{ path_for('account_login') }}" method="post">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <br>
                <button type="submit" class="btn btn-default">Login</button>
            </form>
        </div>

        <!-- Signup Form -->
        <div id="signup_tab" class="col-sm-8 col-sm-offset-2 tab-pane">
            <h1>Signup</h1><hr>
            <div id="signup_info">
                <!-- Signup Codes -->
                {% if code == "signup_error_1" %}<div data-tab="signup_tab" class="message alert alert-danger" role="alert"><span class="fa fa-times"></span> The Captcha test says you are a Robot?!!!</div>{% endif %}
                {% if code == "signup_error_2" %}<div data-tab="signup_tab" class="message alert alert-danger" role="alert"><span class="fa fa-times"></span> You retyped the password wrong. Please try again.</div>{% endif %}
                {% if code == "signup_error_4" %}<div data-tab="signup_tab" class="message alert alert-danger" role="alert"><span class="fa fa-times"></span> Your Datas are not valide. Please fill in the correct values.</div>{% endif %}
            </div>
            <form action="{{ path_for('account_signup') }}" method="post">
                <div class="form-group">
                    <label for="signup_email">Email address</label>
                    <input name="email" type="email" class="form-control" id="signup_email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="signup_nickname">Nickname</label>
                    <input name="nickname" type="text" class="form-control" id="signup_nickname" placeholder="Nickname">
                </div>
                <div class="form-group">
                    <label for="signup_pwd1">Password</label>
                    <input name="password_1" type="password" class="form-control" id="signup_pwd1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="signup_pwd2">Retype Password</label>
                    <input name="password_2" type="password" class="form-control" id="signup_pwd2" placeholder="Password">
                </div>
                <br>
                <div class="g-recaptcha" id="signup_recaptcha" data-sitekey="6LcQzxoTAAAAAHNE6ilzwle_qKCJ-VsoAyFcfY_w"></div>
                <br>
                <span style="font-size: 11px;">
                    By clicking "Signup", you  confirm that you have read and agree our <a href="#">therms and conditions</a>.
                </span>
                <br>
                <br>
                <button type="submit" class="btn btn-default">Signup</button>
            </form>
        </div>

        <!-- Password Recovery Form -->
        <div id="recovery_tab" class="col-sm-8 col-sm-offset-2 tab-pane">
            <h1>Password Recovery</h1><hr>
            <div id="recovery_info">
                <!-- Recovery Codes -->
                {% if code == "recovery_error_1" %}<div data-tab="recovery_tab" class="message alert alert-danger" role="alert"><span class="fa fa-times"></span> The email address is not registered. Please try again.</div>{% endif %}
                {% if code == "recovery_success" %}<div data-tab="recovery_tab" class="message alert alert-success" role="alert"><span class="fa fa-envelope-o"></span> Please check your mail for reset link.</div>{% endif %}
                {% if code == "recovery_error" %}<div data-tab="recovery_tab" class="message alert alert-danger" role="alert"><span class="fa fa-ban"></span> Sorry we where not able to recover your account.</div>{% endif %}
                {% if code == "recovery_sendpassword" %}<div data-tab="recovery_tab" class="message alert alert-success" role="alert"><span class="fa fa-envelope-o"></span> Please check your mail for new Password.</div>{% endif %}
            </div>
            <form action="{{ path_for('account_recovery') }}" method="post">
                <div class="form-group">
                    <label for="recovery_email">Email address</label>
                    <input name="email" type="email" class="form-control" id="recovery_email" placeholder="Email">
                </div>
                <br>
                <button type="submit" class="btn btn-default">Recover Password</button>
            </form>
        </div>

        <!-- Impressum -->
        <style>
            .btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
            .btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
            .btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
            .btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
            .btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
            .btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
            .btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
            .btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
            .btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
            .btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
            .btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
            .btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
            .btn-bitbucket{color:#fff;background-color:#205081;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:hover,.btn-bitbucket:focus,.btn-bitbucket:active,.btn-bitbucket.active,.open .dropdown-toggle.btn-bitbucket{color:#fff;background-color:#183c60;border-color:rgba(0,0,0,0.2)}
            .btn-bitbucket:active,.btn-bitbucket.active,.open .dropdown-toggle.btn-bitbucket{background-image:none}
            .btn-bitbucket.disabled,.btn-bitbucket[disabled],fieldset[disabled] .btn-bitbucket,.btn-bitbucket.disabled:hover,.btn-bitbucket[disabled]:hover,fieldset[disabled] .btn-bitbucket:hover,.btn-bitbucket.disabled:focus,.btn-bitbucket[disabled]:focus,fieldset[disabled] .btn-bitbucket:focus,.btn-bitbucket.disabled:active,.btn-bitbucket[disabled]:active,fieldset[disabled] .btn-bitbucket:active,.btn-bitbucket.disabled.active,.btn-bitbucket[disabled].active,fieldset[disabled] .btn-bitbucket.active{background-color:#205081;border-color:rgba(0,0,0,0.2)}

            .btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
            .btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
            .btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}

            .btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:hover,.btn-github:focus,.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{color:#fff;background-color:#303030;border-color:rgba(0,0,0,0.2)}
            .btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{background-image:none}
            .btn-github.disabled,.btn-github[disabled],fieldset[disabled] .btn-github,.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,.btn-github.disabled.active,.btn-github[disabled].active,fieldset[disabled] .btn-github.active{background-color:#444;border-color:rgba(0,0,0,0.2)}

            .btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{color:#fff;background-color:#005f8d;border-color:rgba(0,0,0,0.2)}
            .btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{background-image:none}
            .btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}

            .btn-xing{color:#fff;background-color:#0B614B;border-color:rgba(0,0,0,0.2)}.btn-xing:hover,.btn-xing:focus,.btn-xing:active,.btn-xing.active,.open .dropdown-toggle.btn-xing{color:#fff;background-color:#0B614B;border-color:rgba(0,0,0,0.2)}
            .btn-xing:active,.btn-xing.active,.open .dropdown-toggle.btn-xing{background-image:none}
            .btn-xing.disabled,.btn-xing[disabled],fieldset[disabled] .btn-xing,.btn-xing.disabled:hover,.btn-xing[disabled]:hover,fieldset[disabled] .btn-xing:hover,.btn-xing.disabled:focus,.btn-xing[disabled]:focus,fieldset[disabled] .btn-xing:focus,.btn-xing.disabled:active,.btn-xing[disabled]:active,fieldset[disabled] .btn-xing:active,.btn-xing.disabled.active,.btn-xing[disabled].active,fieldset[disabled] .btn-xing.active{background-color:#0B614B;border-color:rgba(0,0,0,0.2)}
        </style>
        <div id="impressum_tab" class="col-sm-8 col-sm-offset-2 tab-pane">
            <h1>Impressum</h1><hr>
            <div class="row">
                <div class="col-sm-6">
                    <p style="font-size: 18px;">Feel free to contact me.</p><br>
                    <b>John Doe</b><br>
                    Webdeveloper<br>
                    Somestreet 34<br>
                    CH-0000 City<br>
                </div>
                <div class="col-sm-6">
                    <p>
                        <a class="btn btn-social btn-facebook btn-block" href="https://www.facebook.com/John Doe">
                            <i class="fa fa-facebook"></i> Find me on Facebook
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-social btn-github btn-block" href="https://bitbucket.org/John Doe/">
                            <i class="fa fa-bitbucket"></i> Follow me on BitBucked
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-social btn-linkedin btn-block">
                            <i class="fa fa-linkedin"></i> Find me on LinkedIn
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-social btn-xing btn-block">
                            <i class="fa fa-xing"></i> Find me on Xing
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>