
<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Personal Branding
            <small>This is the Management of your Online Reputation.</small>
        </h1>
    </section>

    <!-- Functions -->

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Navigation -->
                        <div id="view_detail_navigation" class="row">
                            <div class="col-xs-12">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#view_history_container" data-toggle="tab"><i class="fa fa-history fa-2x"></i></a></li> <!-- Branding Journal -->
                                    <li role="presentation"><a href="#view_creator_container" data-toggle="tab"><i class="fa fa-wrench fa-2x"></i></a></li> <!-- Content Creator -->
                                    <li role="presentation"><a href="#view_social_container" data-toggle="tab"><i class="fa fa-comments-o fa-2x"></i></a></li> <!-- Content Creator -->
                                </ul>
                            </div>
                        </div>
                        <div id="view_detail_container" class="tab-content">
                            <!-- Branding journal -->
                            <div id="view_history_container" class="buddy-content buddy-front-container tab-pane active" style="border-top: none;">
                                <div class="row buddy-row">
                                    <div class="col-md-12">
                                        Alle Social Platformen und die entsprechenden Aktivitäten
                                        Sowie das Tracking der Statis und der Views sowie Likes etc.
                                    </div>
                                </div>
                            </div>

                            <!-- Content Creator -->
                            <div id="view_creator_container" class="buddy-content buddy-front-container tab-pane" style="border-top: none;">
                                <div class="row buddy-row">
                                    <div class="col-xs-12">
                                        Hier wird Content aufbereitet gestalltet und für das Posting vorbereitet.
                                        Wenn der Content Speicher Leer ist kann nichts mehr gepostet werden.
                                    </div>
                                </div>
                            </div>

                            <!-- Content Creator -->
                            <div id="view_social_container" class="buddy-content buddy-front-container tab-pane" style="border-top: none;">
                                <div class="row buddy-row">
                                    <div class="col-xs-12">
                                        hier werden alle Fragen und Antworten gepostet so das mann direkt aus der App reagieren kann.
                                        Das ist wichtig um ein Social Feedback zu generieren. Auserdem kann mann selber jede antwort unt
                                        frage auf Stimmung tracken so das ein Feedback des Kontents entsteht.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-plus-circle"></i> Neues Dokument anlegen</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-plus-circle"></i> Neuer Ordner anlegen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
