

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Review
            <small>This is your Review Page. You should review your stuff for a good optimizing.</small>
        </h1>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Front view -->
                        <div id="overview_container" class="buddy-content buddy-front-container">
                            Alles was heute liegengeblieben ist und was nicht gut gelaufen ist. Das kann hier neu geplant werden
                            Auserdem wird hier auch der nächste Tag geplant.
                            Wichtig: Hier müssen auch die erfolge einfliesen.

                            EVT. Neu benennen das ist eine Art Abschluss meeting am ende jedes Tages
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
