

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Summary
            <small>This is the summary over the last decade. It should help you to locate problems.</small>
        </h1>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Front view -->
                        <div id="overview_container" class="buddy-content buddy-front-container">
                            Zusammenzug und Auswertung aller Tracker. Sowie statistik über die vergangenheit.
                            Jeder Tracker kann wie an der Börse ausgewertet werden. Ausserdem kann mann auch die System Internen
                            Tracker sehen. Das sind z.B. Regelmäsiges Review. Finanz Planungen einhalten etc.
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- General Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
