

<div class="container-fluid">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Working
            <small>This is the view of your actual todos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Functions -->
    <section class="content">
        <div class="row">
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <!-- Front Container -->
                        <div id="overview_container" class="buddy-content buddy-front-container">
                            <!-- Lifespace Header -->
                            <div class="row">
                                <div class="col-md-6 buddy-space-header">
                                    <i class="menu-icon fa fa-building bg-aqua buddy-big-circle pull-left"></i>
                                    <div class="pull-left">
                                        <h3 class="text-aqua">Backoffice AG</h3>
                                        <p>Steinenring 45</p>
                                        <p>CH-4561 Basel</p>
                                    </div>
                                </div>

                                <!-- TimeTracking -->
                                <div class="col-md-6">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom">
                                            <tr>
                                                <th style="width: 30%;">Date</th>
                                                <td style="width: 70%;" colspan="3">12.05.2017</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 30%;">From / To</th>
                                                <td style="width: 35%;">08:00</td>
                                                <td style="width: 35%;" colspan="2">12:00</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 30%;">Pause / Work</th>
                                                <td style="width: 35%;">45min</td>
                                                <td style="width: 35%;"colspan="2">60min</td>
                                            </tr>
                                            <tr>
                                                <th style="width: 30%;">Progress</th>
                                                <td style="width: 56%;"colspan="2">
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar bg-blue" style="width: 70%"></div>
                                                    </div>
                                                </td>
                                                <td style="width: 14%">
                                                    <span class="badge bg-blue">55%</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Termin -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-aqua"><i class="fa fa-calendar-check-o"></i> Termine</h3>
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tr>
                                                <th style="width: 30px; text-align: center; font-weight: bold;">08:00<br>09:30</th>
                                                <td style="width: 100%;" class="buddy-header">
                                                    <h4>Standard Meeting</h4>
                                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Tasks -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 class="text-aqua"><i class="fa fa-ticket"></i> Tasks</h3>
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th style="width: 20px;">#</th>
                                                <th style="width: 80%;">Task</th>
                                                <th style="width: 20%;">Due</th>
                                                <th style="width: 40px;">Progress</th>
                                            </tr>
                                            <tr>
                                                <td>1.</td>
                                                <td>Update software</td>
                                                <td>05.04.2017 - 10:35</td>
                                                <td><span class="badge bg-blue" style="font-size: 16px;">55%</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Project Tasks -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 class="text-aqua"><i class="fa fa-sitemap"></i> Projekt Tasks</h3>
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th style="width: 20px;">#</th>
                                                <th style="width: 60%;">Task</th>
                                                <th style="width: 20%;">Projekt</th>
                                                <th style="width: 20%;">Due</th>
                                                <th style="width: 40px;">Progress</th>
                                            </tr>
                                            <tr>
                                                <td>1.</td>
                                                <td>Update software</td>
                                                <td>Swissdec</td>
                                                <td>05.04.2017 - 10:35</td>
                                                <td><span class="badge bg-green" style="font-size: 16px;">100%</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Delegates -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-aqua"><i class="fa fa-handshake-o"></i> Delegates</h3>
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th style="width: 20px;">#</th>
                                                <th style="width: 60%;">Task</th>
                                                <th style="width: 20%;">Responsible</th>
                                                <th style="width: 20%;">Due</th>
                                                <th style="width: 40px;">Progress</th>
                                            </tr>
                                            <tr>
                                                <td>1.</td>
                                                <td>Update software</td>
                                                <td>Peter Lustig</td>
                                                <td>Donnerstag - 10:35</td>
                                                <td><span class="badge bg-red" style="font-size: 16px;">55%</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Tracker -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-aqua"><i class="fa fa-bullseye"></i> Tracker</h3>
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tbody>
                                            <tr>
                                                <th style="width: 20px;">#</th>
                                                <th style="width: 20%;">Zeitpunkt</th>
                                                <th style="width: 70%;">Tracker</th>
                                                <th style="width: 10%;">Aufrufe</th>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-long-arrow-down"></i></td>
                                                <td>Beginn (08:00)</td>
                                                <td>Arbeitsbeginn aufzeichnen</td>
                                                <td>
                                                    <span class="badge bg-green" style="font-size: 16px;">1 / 1</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-arrows-v"></i></td>
                                                <td>08:00 - 12:00</td>
                                                <td>Pausen aufzeichnen</td>
                                                <td>
                                                    <span class="badge badge-default" style="font-size: 16px;">5 / ?</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-long-arrow-up"></i></td>
                                                <td>Ende (12:00)</td>
                                                <td>Gesammtarbeitsstunden aufzeichnen</td>
                                                <td>
                                                    <span class="badge bg-red" style="font-size: 16px;">0 / 1</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Task Detail -->
                        <br>
                        <div id="task_detail" class="buddy-content">
                            <div class="row buddy-space-header buddy-row">
                                <div class="col-xs-11">
                                    <h3 class="text-blue"><i class="fa fa-ticket"></i> Update Software</h3>
                                </div>
                            </div>
                        </div>

                        <!-- Event Detail -->
                        <br>
                        <div id="event_detail" class="buddy-content">
                            <div class="row buddy-space-header buddy-row">
                                <div class="col-xs-11">
                                    <h3 class="text-blue"><i class="fa fa-calendar-check-o"></i> Standard Meeting</h3>
                                </div>
                            </div>
                            <div class="row buddy-row">
                                <div class="col-xs-11">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
                                </div>
                            </div>
                            <div class="row buddy-row">
                                <div class="col-xs-12">
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom buddy-hover">
                                            <tr>
                                                <th width="25%">Members</th>
                                                <th width="50%">Files</th>
                                                <th style="text-align: center;" width="25%">Date / Time</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="buddy-attachment">
                                                    <a class="btn btn-flat btn-block btn-sm btn-social bg-light-blue"><i class="fa fa-file-text-o"></i> Protokoll.md <i class="pull-right">546 kB</i></a>
                                                    <a class="btn btn-flat btn-block btn-sm btn-social bg-light-blue"><i class="fa fa-file-text-o"></i> Handout.md <i class="pull-right">340 kB</i></a>
                                                    <a class="btn btn-flat btn-block btn-sm btn-social bg-gray"><i class="fa fa-file-powerpoint-o"></i> Präsentation.pptx <i class="pull-right">1.5 MB</i></a>
                                                </td>
                                                <td style="text-align: center; font-size: 18px; padding-top: 20px; padding-botttom: 20px;">17.12.2017<br>08:00 - 10:30<br>2.5h</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Protokoll -->
                            <div class="row buddy-row">
                                <div class="col-md-12">
                                    <h3 class="text-blue">Protokoll</h3>
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tr>
                                                <th width="25%">Tagging</th> <!-- Personen und z.B. Wichtig, oder Prüfungsrelevant, oder auch Review etc.-->
                                                <th width="75%">Was</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Aufgaben -->
                            <div class="row buddy-row">
                                <div class="col-xs-12">
                                    <h3 class="text-blue">Aufgaben</h3>
                                    <div class="buddy-box">
                                        <table class="table table-bordered buddy-no-bottom table-hover buddy-hover">
                                            <tr>
                                                <th width="55%">Aufgabe</th>
                                                <th width="20%">Bis Datum</th>
                                                <th width="25%">Member</th>
                                                <th style="width: 20px;"></th>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td><i class="fa fa-handshake-o"></i> </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Functions -->
                <div class="row buddy-row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Functions</h4>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-print"></i> Drucken</button>
                            <button class="btn btn-default btn-block btn-flat"><i class="fa fa-list"></i> Übersicht</button>
                            <button disabled class="btn btn-default btn-block btn-flat"><i class="fa fa-pencil"></i> Bearbeiten</button>
                        </div>
                    </div>
                </div>

                <!-- Next Event -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="buddy-content">
                            <h4>Today's schedule</h4>
                            <a href="#" class="btn btn-flat btn-block text-aqua btn-default" style="text-align: left;"><i class="fa fa-building"></i> Backoffice AG<br>08:00 - 12:00</a>
                            <a href="#" class="btn btn-flat btn-block text-red btn-default" style="text-align: left;"><i class="fa fa-heartbeat"></i> Mittagessen<br>12:00 - 13:00</a>
                            <a href="#" class="btn btn-flat btn-block bg-aqua" style="text-align: left;"><i class="fa fa-building"></i> Backoffice AG<br>13:00 - 16:00</a>
                            <a href="#" class="btn btn-flat btn-block text-green btn-default" style="text-align: left;"><i class="fa fa-graduation-cap"></i> hf-ict<br>17:15 - 20:45</a>
                            <a href="#" class="btn btn-flat btn-block text-fuchsia btn-default" style="text-align: left;"><i class="fa fa-tree"></i> freizeit<br>20:45 - 23:00</a>
                            <a href="#" class="btn btn-flat btn-block btn-default" style="text-align: left;"><i class="fa fa-bed"></i> Regeneration<br>23:00 - 07:00</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
