<!-- Create the tabs -->
<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
    <li><a href="#control-sidebar-achivements-tab" data-toggle="tab"><i class="fa fa-bookmark"></i></a></li>
    <li><a href="#control-sidebar-accounts-tab" data-toggle="tab"><i class="fa fa-key"></i></a></li>
    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <!-- Home tab content -->
    <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Time Tracking</h3>
        <ul class="control-sidebar-menu">
            <li>
                <a href="javascript:;">
                    <i class="menu-icon fa fa-building bg-primary"></i>
                    <div class="menu-info pull-left" style="margin-left: 10px;">
                        <h4 class="control-sidebar-subheading">Backoffice AG</h4>
                        <p><span class="buddy-timer">00:00:00</span> <button class="btn btn-xs btn-default btn-flat"><i class="fa fa-pause"></i> Pause</button></p>
                    </div>
                </a>
            </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Daily Progress</h3>
        <ul class="control-sidebar-menu">
            <li>
                <a href="javascript:;">
                    <h4 class="control-sidebar-subheading">
                        <i class="fa fa-heartbeat"></i> Morning Routine
                        <span class="pull-right-container">
                  <span class="label label-danger pull-right">70% (1.0h)</span>
                </span>
                    </h4>

                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h4 class="control-sidebar-subheading">
                        <i class="fa fa-building"></i> Backoffice AG
                        <span class="pull-right-container">
                  <span class="label label-primary pull-right">70% (8.0h)</span>
                </span>
                    </h4>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-primary" style="width: 70%"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h4 class="control-sidebar-subheading">
                        <i class="fa fa-graduation-cap"></i> HF-ICT
                        <span class="pull-right-container">
                  <span class="label label-info pull-right">70% (4.0h)</span>
                </span>
                    </h4>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-info" style="width: 70%"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h4 class="control-sidebar-subheading">
                        <i class="fa fa-tree"></i> Relaxing
                        <span class="pull-right-container">
                  <span class="label bg-purple pull-right">70% (3.0h)</span>
                </span>
                    </h4>
                    <div class="progress progress-xxs">
                        <div class="progress-bar bg-purple" style="width: 70%"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h4 class="control-sidebar-subheading">
                        <i class="fa fa-heartbeat"></i> Nightly Routine
                        <span class="pull-right-container">
                  <span class="label label-danger pull-right">70% (1.0h)</span>
                </span>
                    </h4>

                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h4 class="control-sidebar-subheading">
                        <i class="fa fa-bed"></i> Regeneration
                        <span class="pull-right-container">
                  <span class="label bg-gray-active pull-right">70% (7.0h)</span>
                </span>
                    </h4>

                    <div class="progress progress-xxs">
                        <div class="progress-bar bg-gray-active" style="width: 70%"></div>
                    </div>
                </a>
            </li>
        </ul>
        <!-- /.control-sidebar-menu -->
    </div>
    <!-- /.tab-pane -->

    <!-- Achivement tab content -->
    <div class="tab-pane" id="control-sidebar-achivements-tab">
        <h3 class="control-sidebar-heading">Last 24h Achivements</h3>
        <ul class="control-sidebar-menu">
            <li>
                <a href="javascript:;">
                    <i class="menu-icon fa fa-building bg-aqua"></i>
                    <div class="menu-info pull-left" style="margin-left: 10px;">
                        <h4 class="control-sidebar-subheading">Schoolboy</h4>
                        <p>Get a Mark Higher than 5</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="menu-icon fa fa-building bg-aqua"></i>
                    <div class="menu-info pull-left" style="margin-left: 10px;">
                        <h4 class="control-sidebar-subheading">Sleeping Beauty</h4>
                        <p>Sleep between 8 and 9 Hours</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="menu-icon fa fa-building bg-aqua"></i>
                    <div class="menu-info pull-left" style="margin-left: 10px;">
                        <h4 class="control-sidebar-subheading">Office Junkey</h4>
                        <p>Work more than 8.5 Hours</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <!-- Settings tab content -->
    <div class="tab-pane" id="control-sidebar-accounts-tab">
        <form method="post">
            <h3 class="control-sidebar-heading">External Interfaces</h3>
            Facebook, Mail, FitBit, IFTTT, WhatsApp, WebHooks etc. etc.
        </form>
    </div>
    <!-- /.tab-pane -->

    <!-- Settings tab content -->
    <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
            <h3 class="control-sidebar-heading">General Settings</h3>

            <div class="form-group">
                <label class="control-sidebar-subheading">
                    Report panel usage
                    <input type="checkbox" class="pull-right" checked>
                </label>

                <p>
                    Some information about this general settings option
                </p>
            </div>
            <!-- /.form-group -->
        </form>
    </div>
    <!-- /.tab-pane -->
</div>