
<!-- To the right -->
<div class="pull-right hidden-xs">
    <strong>Version:</strong> 1.0.0 Beta
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 2017 <a href="#">Rushpuppy</a>.</strong> All rights reserved.