
<!DOCTYPE html>
<html lang="{{ config.html_lang }}">
<head>
    <!-- Page Config -->
    <meta charset="{{ config.meta_charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.meta_description }}">
    <meta name="keywords" content="{{ config.meta_keywords }}">
    <meta name="application-name" content="{{ config.meta_application-name }}">
    <meta name="author" content="{{ config.meta_author }}">
    <title>{{ config.page_title }}</title>

    <!-- Including Framework Stylesheets -->
    <link rel="stylesheet" href="{{ path_for('home') }}assets/javascript/bootstrap-3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ path_for('home') }}assets/design/AdminLTE-2.3.11/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="{{ path_for('home') }}assets/design/AdminLTE-2.3.11/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="{{ path_for('home') }}assets/javascript/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ path_for('home') }}assets/javascript/bootstrap-slider/dist/css/bootstrap-slider.min.css">

    <!-- Including Custom Stylesheets -->
    <link rel="stylesheet" href="{{ path_for('home') }}assets/fonts/fonts.css">
    <link rel="stylesheet" href="{{ path_for('home') }}assets/image/backgrounds/bg_geo/bg_geo.css">
    <link rel="stylesheet" href="{{ path_for('home') }}assets/styles/global_style.css">
</head>
<body class="skin-blue">
<div id="app" class="wrapper layout-top-nav">
    <!-- External Header Bar -->
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="index2.html" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini"><b>L</b>B</span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg"><b>Life</b>Buddy</span>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Navigation -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content -->
    <div class="content-wrapper" id="page_container">
        {{ include(page) }}
    </div>

    <!-- Content -->
    <footer class="main-footer">
        {{ include('footer.html') }}
    </footer>
</div>
</body>
<!-- Include Framework Javascripts -->
<script type="text/javascript" src="{{ path_for('home') }}assets/javascript/jquery-1.12.1/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="{{ path_for('home') }}assets/javascript/bootstrap-3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ path_for('home') }}assets/design/AdminLTE-2.3.11/dist/js/app.min.js"></script>
<script type="text/javascript" src="{{ path_for('home') }}assets/javascript/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="{{ path_for('home') }}assets/javascript/vue.js/vue.min.js"></script>
{% if vue is defined %}<script type="text/javascript" src="{{ path_for('home') }}app/templates/{{ vue }}"></script>{% endif %}
<script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src="{{ path_for('home') }}assets/javascript/lifebuddy/global.js"></script>

<!-- Load Components -->
{% if components is defined %}
{% for component in components %}
<script type="text/javascript" src="{{ path_for('home') }}app/components/{{ component }}.js"></script>
{% endfor %}
{% endif %}

<script type="text/javascript">
    controller.home = "{{ path_for('home') }}";
    {% if js_vars is defined %}
    {% for key, js_var in js_vars %}
    controller.{{ key }} = "{{ js_var }}";
    {% endfor %}
    {% endif %}
</script>
</html>