
<!DOCTYPE html>
<html lang="{{ config.html_lang }}">
    <head>
        <!-- Page Config -->
        <meta charset="{{ config.meta_charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ config.meta_description }}">
        <meta name="keywords" content="{{ config.meta_keywords }}">
        <meta name="application-name" content="{{ config.meta_application-name }}">
        <meta name="author" content="{{ config.meta_author }}">
        <title>{{ config.page_title }}</title>
         
        <!-- Including Framework Stylesheets -->
        <link rel="stylesheet" href="{{ path_for('home') }}assets/javascript/bootstrap-3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ path_for('home') }}assets/design/AdminLTE-2.3.11/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="{{ path_for('home') }}assets/design/AdminLTE-2.3.11/dist/css/skins/skin-blue.min.css">
        <link rel="stylesheet" href="{{ path_for('home') }}assets/javascript/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ path_for('home') }}assets/javascript/bootstrap-slider/dist/css/bootstrap-slider.min.css">
        <link rel="stylesheet" href="{{ path_for('home') }}assets/javascript/cropper-master/dist/cropper.min.css">
        <link rel="stylesheet" href="{{ path_for('home') }}assets/javascript/select2-master/dist/css/select2.min.css">

        <!-- Including Custom Stylesheets -->
        <link rel="stylesheet" href="{{ path_for('home') }}assets/fonts/fonts.css">
        <link rel="stylesheet" href="{{ path_for('home') }}assets/image/backgrounds/bg_geo/bg_geo.css">
        <link rel="stylesheet" href="{{ path_for('home') }}assets/styles/global_style.css">
    </head>
    <body class="skin-blue">
        <div id="app" class="wrapper">
            <!-- Header Nav with Logo -->
            <header class="main-header">
                {{ include('header.html') }}
            </header>

            <!-- Sidebar NAvigation --->
            <aside class="main-sidebar">
                {{ include('sidebar.html') }}
            </aside>

            <!-- Content -->
            <div class="content-wrapper" id="page_container">
                {{ include(page) }}
            </div>

            <!-- Content -->
            <footer class="main-footer">
                {{ include('footer.html') }}
            </footer>

            <!-- Right Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                {{ include('cockpit.html') }}
            </aside>
            <div class="control-sidebar-bg"></div>
        </div>
    </body>
    <!-- Include Framework Javascripts -->
    <script type="text/javascript" src="{{ path_for('home') }}assets/javascript/jquery-1.12.1/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="{{ path_for('home') }}assets/javascript/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ path_for('home') }}assets/design/AdminLTE-2.3.11/dist/js/app.min.js"></script>
    <script type="text/javascript" src="{{ path_for('home') }}assets/javascript/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="{{ path_for('home') }}assets/javascript/vue.js/vue.min.js"></script>
    <script type="text/javascript" src="{{ path_for('home') }}assets/javascript/moment.js/moment.min.js"></script>
    <script type="text/javascript" src="{{ path_for('home') }}assets/javascript/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ path_for('home') }}assets/javascript/cropper-master/dist/cropper.min.js"></script>
    <script type="text/javascript" src="{{ path_for('home') }}assets/javascript/select2-master/dist/js/select2.full.min.js"></script>
    {% if vue is defined %}<script type="text/javascript" src="{{ path_for('home') }}app/templates/{{ vue }}"></script>{% endif %}
    <script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="{{ path_for('home') }}assets/javascript/lifebuddy/global.js"></script>

    <!-- Load Components -->
    {% if components is defined %}
        {% for component in components %}
            <script type="text/javascript" src="{{ path_for('home') }}app/components/{{ component }}.js"></script>
        {% endfor %}
    {% endif %}

    <script type="text/javascript">
        controller.home = "{{ path_for('home') }}";
        {% if js_vars is defined %}
        {% for key, js_var in js_vars %}
        controller.{{ key }} = "{{ js_var }}";
        {% endfor %}
        {% endif %}
    </script>

    <!-- Global Modal -->
    <!-- Action Confirm -->
    <div id="confirmation-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Neutral -->
                    <div class="confirmation-neutral">
                        <span class="confirmation-content"></span>
                    </div>

                    <!-- Success -->
                    <div class="confirmation-success" style="text-align: center;">
                        <span class="fa fa-check-circle" style="font-size: 150px; color: #00a65a;"></span><br>
                        <br>
                        <strong>
                            <span class="confirmation-title"></span>
                        </strong>
                        <br>
                        <span class="confirmation-content"></span>
                    </div>

                    <!-- Error -->
                    <div class="confirmation-error" style="text-align: center;">
                        <div class="alert alert-danger" role="alert">
                            <span class="fa fa-frown-o fa-5x"></span>
                        </div>
                        <br>
                        <span class="confirmation-content"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;Schliessen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload Modal -->
    <div id="upload-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <span style="font-size: 20px;">Datei hochladen</span>
                </div>
                <div class="modal-body">
                    <div id="upload_modal_picker" class="row">
                        <div class="col-xs-12">
                            <div style="border: 2px dashed #bbbbbb; width: 100%; height: 255px; text-align: center;">
                                <input id="upload_modal_file" type="file" style="width: 100%; height: 255px; opacity: 0; cursor: pointer;">
                                <p style="color: #999999; margin-top: -175px;">Drag File here for upload.</p>
                                <i class="fa fa-upload fa-5x" style="color: #999999;"></i>
                            </div>
                        </div>
                    </div>
                    <div id="upload_modal_preview" class="row" style="display: none;">
                        <div class="col-xs-12">
                            <img id="upload_modal_img_preview" src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Demo_Dresden_1.jpg" style="width: 100%;">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-flat btn-info pull-left"><i class="fa fa-archive"></i> Aus Archiv</button>
                    <button type="button" class="btn btn-flat btn-info pull-left"><i class="fa fa-link"></i> Von Url</button>
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;Abbrechen</button>
                    <button type="button" class="btn btn-success btn-flat" data-dismiss="modal"><span class="fa fa-check"></span>&nbsp;Übernehmen</button>
                </div>
            </div>
        </div>
    </div>
</html>