
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <!-- Sidebar Today -->
    <div class="user-panel">
        <div class="pull-left buddy-lifespace">
            <i class="fa fa-building text-aqua"></i>
        </div>
        <div class="pull-left info">
            <p class="sidebar-day" style="margin-bottom: 2px;"></p>
            <p class="sidebar-time" style="margin-bottom: 2px; font-size: 20px;"></p>
            <p class="sidebar-date"></p>
        </div>
    </div>

    <!-- search Form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        {% for navi in navigation.left %}
            {% if navi.text is defined %}
                <li><a href="{{ path_for(navi.linkto) }}"><i class="fa {{ navi.icon }} {% if navi.color is defined %}{{ navi.color }}{% endif %}"></i> <span>{{ navi.text }}</span></a></li>
            {% elseif navi.title is defined %}
                <li class="header">{{ navi.title }}</li>
                {% if navi.children is defined %}
                    {% if navi.children is defined %}
                        {% for child in navi.children %}
                            {% if child.children is defined %}
                                <li class="treeview">
                                    <a href="{{ path_for(child.linkto) }}"><i class="{{ child.icon }} {% if child.color is defined %}{{ child.color }}{% endif %}"></i> <span>{{ child.text }}</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    {% for sub in child.children %}
                                        <ul class="treeview-menu">
                                            <li><a href="{{ path_for(sub.linkto) }}"><i class="fa {{ sub.icon }} {% if sub.color is defined %}{{ sub.color }}{% endif %}"></i> <span>{{ sub.text }}</span></a></li>
                                        </ul>
                                    {% endfor %}
                                </li>
                            {% else %}
                                <li><a href="{{ path_for(child.linkto) }}"><i class="fa {{ child.icon }} {% if child.color is defined %}{{ child.color }}{% endif %}"></i> <span>{{ child.text }}</span></a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->